* {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 24px;
}

body {
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: slateblue;
}

ul li.git {
  list-style: none;
  position: relative;
  padding-left: 25px; /* Espacio para el SVG */
}

ul li.git::before {
  content: url('github.svg'); /* O usar background-image */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Centrado vertical */
  width: 20px; /* Tamaño del SVG */
  height: 20px;
}
